@import "all-config";

nav-drawer-content {
    contain: inline-size style;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 16px;

    & > [data-e="title"] {
        @include MD3_TITLE_M_FONT_RULE_SET;
        margin: 14px 28px;
    }
    & > [data-e="lorem"] {
        margin: 4px 12px;
        padding-bottom: 96px;
        padding-inline-start: 16px;
    }
    & > hr {
        margin-inline: 28px;
        margin-block: 1px;
    }
    & > [data-e="color-theme-switch-label"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        margin: 4px 12px;
        padding-inline-start: 16px;
    }
}
