@import "all-config";

nav-drawer-content {
    contain: inline-size style;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    padding-bottom: 16px;
    color: var(--md-sys-color-on-surface-variant);

    & > [data-e="group-title"] {
        @include MD3_TITLE_S_FONT_RULE_SET;
        margin: 0;
        padding: 16px 28px;
    }
    & > [data-e="lorem"] {
        margin: 4px 12px;
        padding-bottom: 96px;
        padding-inline-start: 16px;
    }
    & > hr {
        margin-inline: 28px;
        margin-block: 1px;
    }
    & > [data-e="color-theme-switch-label"] {
        @include MD3_TITLE_S_FONT_RULE_SET;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 16px;
        height: 48px;
        padding: 0 28px;
        cursor: pointer;
    }
}
