@import "all-config";

nav-drawer-directory {
    contain: inline-size layout paint style;
    display: block;
    width: 100%;
    $layer-height: 48px;
    $layer-inset-inline: 12px;
    $layer-inset-block: 4px;
    $layer-border-radius: $md-sys-shape-corner-full;

    // BACK LAYER
    & > [data-e="back-layer"] {
        contain: size layout paint style;
        position: absolute;
        inset-inline: $layer-inset-inline;
        inset-block-start: $layer-inset-block;
        height: $layer-height;
        border-radius: $layer-border-radius;
        background-color: transparent;
        transition: background-color 200ms ease-in-out;
    }
    &:has(a.link-to-current-route) > [data-e="back-layer"] {
        background-color: var(--md-sys-color-secondary-container);
    }
    &:has(a.disabled.link-to-current-route) > [data-e="back-layer"] {
        background-color: var(--md-sys-color-on-surface);
        opacity: 0.12;
    }

    // STATE LAYER
    & > [data-e="state-layer"] {
        contain: size layout paint style;
        position: absolute;
        inset-inline: $layer-inset-inline;
        inset-block-start: $layer-inset-block;
        height: $layer-height;
        border-radius: $layer-border-radius;
        opacity: 0;
        background-color: var(--md-sys-color-on-surface);
        transition: opacity 200ms ease-in-out; // Скорость для hover, focus и фазы отбоя после нажатия.
    }
    &:has(a.link-to-current-route) > [data-e="state-layer"] {
        background-color: var(--md-sys-color-on-secondary-container);
    }
    &:has(> details > summary:not(.disabled):focus-visible) > [data-e="state-layer"] {
        opacity: 0.16;
    }
    &:has(> details > summary:not(.disabled):hover) > [data-e="state-layer"] {
        @include ONLY_FOR_HOVERING_POINTER {
            opacity: 0.08;
        }
    }
    &:has(> details > summary:not(.disabled):active) > [data-e="state-layer"],
    &:has(> details > summary:not(.disabled)).pressed > [data-e="state-layer"] {
        transition: opacity 0ms ease-in-out; // Скорость на фазе нажатия.
        opacity: 0.12;
    }

    // FOCUS RING LAYER
    & > [data-e="focus-ring-layer"] {
        contain: size layout paint style;
        position: absolute;
        inset-inline: $layer-inset-inline;
        inset-block-start: $layer-inset-block;
        height: $layer-height;
        border-radius: $layer-border-radius;
        @include FOCUS_RING_NOT_FOCUSED_RULE_SET;
    }
    &:has(> details > summary:not(.disabled):focus-visible) > [data-e="focus-ring-layer"] {
        @include FOCUS_RING_FOCUSED_RULE_SET;
    }
    &:has(> details > summary:not(.disabled):focus-visible:active) > [data-e="focus-ring-layer"],
    &:has(> details > summary:not(.disabled):focus-visible).pressed > [data-e="focus-ring-layer"] {
        @include FOCUS_RING_PRESSED_RULE_SET;
    }

    // ENVIRONMENT LAYER: OPEN STATE INDICATOR
    & > [data-e="open-state-indicator"] {
        contain: size layout paint style;
        position: absolute;
        inset-inline-end: 28px;
        inset-block-start: calc(($layer-inset-block + $layer-height + $layer-inset-block - 24px) / 2);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        transition: 200ms transform ease-in-out;
    }
    &:has(> details[open]) > [data-e="open-state-indicator"] {
        transform: scaleY(-1);
    }
    &:has(> details > summary.disabled) > [data-e="open-state-indicator"] {
        opacity: 0.38;
    }

    // ENVIRONMENT LAYER
    & > details {
        contain: inline-size layout paint style;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-inline-start: 12px;
        padding-block-start: $layer-inset-block + $layer-height + $layer-inset-block;
        // height: $layer-inset-block + $layer-height + $layer-inset-block;
        // transition: 2s height ease-in-out;
        // &[open] {
        //     height: auto;
        // }
    }

    // ENVIRONMENT LAYER: TREE TRUNK
    &:has(> details[open])::before {
        content: "";
        position: absolute;
        inset-inline-start: 21px;
        top: $layer-inset-block + $layer-height + $layer-inset-block - 5px;
        height: 3px;
        width: 1px;
        background-color: var(--md-sys-color-outline-variant);
        transform: rotate(23deg); // For rtl: rotate(-29deg).
    }
    & > details[open]::before {
        content: "";
        position: absolute;
        inset-inline-start: 20.5px;
        top: $layer-inset-block + $layer-height + $layer-inset-block - 2.4px;
        bottom: 27.5px;
        width: 1px;
        background-color: var(--md-sys-color-outline-variant);
    }
    // &:has(> details[open]) > [data-e="back-layer"]::before {
    //     content: "";
    //     position: absolute;
    //     inset-inline-start: 8.2px;
    //     bottom: -1px;
    //     height: 6px;
    //     width: 1px;
    //     background-color: var(--md-sys-color-outline-variant);
    //     transform: rotate(26deg); // For rtl: rotate(-26deg).
    // }
    // & > details[open]::before {
    //     content: "";
    //     position: absolute;
    //     inset-inline-start: 19px;
    //     // top: $layer-inset-block + $layer-height + $layer-inset-block - 2.4px;
    //     top: $layer-inset-block + $layer-height;
    //     // bottom: 27.5px;
    //     bottom: calc(($layer-inset-block + $layer-height + $layer-inset-block) / 2 - 0.5px);
    //     width: 1px;
    //     background-color: var(--md-sys-color-outline-variant);
    // }
    //
    // // SUMMARY LIST-STYLE (if use into nav-drawer-details)
    // // NAV-DRAWER-LINK-BUTTON LIST-STYLE (if use into nav-drawer-details)
    // & > details > nav-drawer-item > nav-drawer-directory::before,
    // & > details > nav-drawer-item > nav-drawer-link-button::before {
    //     content: "";
    //     position: absolute;
    //     inset-inline-start: 8px;
    //     top: calc(($layer-inset-block + $layer-height + $layer-inset-block) / 2 - 0.5px);
    //     height: 1px;
    //     width: 4px;
    //     background-color: var(--md-sys-color-outline-variant);
    // }

    // TARGET LAYER
    & > details > summary {
        contain: size layout paint style;
        position: absolute;
        inset-inline: 0;
        inset-block-start: 0;
        height: $layer-inset-block + $layer-height + $layer-inset-block;
        appearance: none;
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        padding: 4px 36px;
        border: none;
        user-select: none;
        text-decoration: none;
        background-color: transparent;
        color: var(--md-sys-color-on-surface-variant);
    }
    &:has(a.link-to-current-route) > details > summary {
        color: var(--md-sys-color-on-secondary-container);
    }
    & > details > summary:focus-visible {
        outline: none;
    }
    & > details > summary:not(.disabled):hover {
        @include ONLY_FOR_HOVERING_POINTER {
            cursor: pointer;
        }
    }
    & > details > summary.disabled {
        cursor: default;
    }

    // TARGET LAYER: ::marker
    & > details > summary::marker {
        display: none;
    }

    // TARGET LAYER: ICONS
    & > details > summary > i {
        contain: size layout paint style;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin-inline-start: -8px;
        font-family: "Material Symbols Outlined";
        font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
        font-size: 24px;
        font-style: normal;
    }
    & > details > summary > i:last-child {
        margin-inline-start: 0;
        margin-inline-end: -8px;
    }
    & > details > summary.disabled > i {
        opacity: 0.38;
    }

    // TARGET LAYER: TEXT
    & > details > summary > span {
        contain: layout paint style;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-inline-end: auto;
        @include MD3_LABEL_L_FONT_RULE_SET;
    }
    & > details > summary:not(.disabled):hover > span {
        @include ONLY_FOR_HOVERING_POINTER {
            //text-decoration: underline;
        }
    }
    & > details > summary.disabled > span {
        opacity: 0.38;
    }
}
