@import "all-config";

service-info {
    padding-inline: $full-inline-padding;
    contain: layout paint inline-size style;
    display: flex;
    flex-direction: column;
    height: 260px;
    background-color: var(--md-sys-color-surface-container);
}
