<h3 >Service information:</h3 >
<div >windowInnerWidth: {{ windowInnerWidth() }}</div >
<div >windowInnerHeight: {{ windowInnerHeight() }}</div >
<div >documentOffsetWidth: {{ documentOffsetWidth() }}</div >
<div >documentClientHeight: {{ documentClientHeight() }}</div >
<div >documentScrollbarWidth: {{ documentScrollbarWidth() }}</div >
<div >isMobileInPortraitOnly: {{ isMobileInPortraitOnly() }}</div >
<div >isMobileInLandscapeOnly: {{ isMobileInLandscapeOnly() }}</div >
<div >isMobileInAllOrientations: {{ isMobileInAllOrientations() }}</div >
