<div style="height: 72px;"></div>



@for (fieldSet of filterConfig; track fieldSet.label; let index = $index) {
    @if (fieldSet.label != null) {
        <div data-e="fieldset-label">{{ fieldSet.label }}</div>
    } @else {
        <div style="height: 8px"></div>
    }
    @for (field of fieldSet.fieldList; track field.label) {
        @switch (field.type) {
            @case ("TMultiChoiceField") {
                <popup-selection>
                    <select-button
                        ngProjectAs="launcher-content"
                        appearance="outlined">
                        <label>
                            <span>{{ field.label }}</span>
                            <button>
                                <span>
                                    {{
                                        multiChoiceFieldsStates.get(field.name)?.size ?? 0 > 0 ? '' + multiChoiceFieldsStates.get(field.name)?.size?.toString() + '/' + field.options.length.toString() : ''
                                    }}
                                </span>
                            </button>
                        </label>
                    </select-button>
                    <!-- <base-button ngProjectAs="launcher-content"> -->
                    <!--     <button> -->
                    <!--         <span></span> -->
                    <!--     </button> -->
                    <!-- </base-button> -->
                    <switch-group
                        ngProjectAs="popup-content">
                        @for (option of field.options; track option.label) {
                            <label>
                                <span>{{ option.label }}</span>
                                <input
                                    type="checkbox"
                                    [name]="field.name"
                                    [value]="option.value"
                                    [ngModel]="multiChoiceFieldsStates.get(field.name)?.has(option.value)"
                                    (ngModelChange)="multiChoiceFieldsStates.get(field.name)?.has(option.value)
                                               ? multiChoiceFieldsStates.get(field.name)?.delete(option.value)
                                               : multiChoiceFieldsStates.get(field.name)?.add(option.value)
                                           "
                                />
                            </label>
                        }
                    </switch-group>
                </popup-selection>
                <md-chip-set>
                    @for (option of field.options; track option.label) {
                        @if (multiChoiceFieldsStates.get(field.name)?.has(option.value)) {
                            <md-input-chip
                                [attr.label]="option.label"
                                remove-only="true"
                            ></md-input-chip>
                        }
                    }
                </md-chip-set>
            }
            @case ("TSingleChoiceField") {
                <popup-selection>
                    <select-button
                        ngProjectAs="launcher-content"
                        appearance="outlined">
                        <label>
                            <span>{{ field.label }}</span>
                            <button>
                                <span>
                                    {{ singleChoiceFieldsStates.get(field.name) }}
                                </span>
                            </button>
                        </label>
                    </select-button>
                    <!-- <base-button ngProjectAs="launcher-content"> -->
                    <!--     <button> -->
                    <!--         <span></span> -->
                    <!--     </button> -->
                    <!-- </base-button> -->
                    <switch-group
                        ngProjectAs="popup-content">
                        @for (option of field.options; track option.label) {
                            <label>
                                <span>{{ option.label }}</span>
                                <input
                                    type="radio"
                                    [name]="field.name"
                                    [value]="option.value"
                                    [ngModel]="singleChoiceFieldsStates.get(field.name)"
                                    (ngModelChange)="singleChoiceFieldsStates.set(field.name, $event)"
                                />
                                <!-- <md-radio -->
                                <!--       [attr.checked]="singleChoiceFieldsStates.get(field.name) ===  option.value ? '' : null" -->
                                <!--       (change)="singleChoiceFieldsStates.set(field.name, option.value)" -->
                                <!-- ></md-radio > -->
                            </label>
                        }
                    </switch-group>
                </popup-selection>
            }
            @case ("TRangeField") {
                <range-field>
                    <text-field
                        appearance="outlined">
                        <label>
                            <span>{{ field.label }}</span>
                            <input
                                type="text"
                                [name]="field.name"
                                [value]="field.value"
                                [ngModel]="textFieldsStates.get(field.name)"
                                (ngModelChange)="textFieldsStates.set(field.name, $event)"
                            />
                        </label>
                    </text-field>
                    <text-field
                        appearance="outlined">
                        <label>
                            <input
                                type="text"
                                [name]="field.name"
                                [value]="field.value"
                                [ngModel]="textFieldsStates.get(field.endName)"
                                (ngModelChange)="textFieldsStates.set(field.endName, $event)"
                            />
                        </label>
                    </text-field>
                </range-field>
            }
            @case ("TTextField") {
                <text-field
                    appearance="outlined">
                    <label>
                        <span>{{ field.label }}</span>
                        <input
                            type="text"
                            [name]="field.name"
                            [value]="field.value"
                            [ngModel]="textFieldsStates.get(field.name)"
                            (ngModelChange)="textFieldsStates.set(field.name, $event)"
                        />
                    </label>
                </text-field>
            }
        }
    }
}
<div
    data-e="actions-line">
    <base-button
        appearance="filled"
        data-e="submit-button">
        <button (click)="submitFilter.emit()">
            <span>Применить</span>
        </button>
    </base-button>
    <base-button
        appearance="outlined"
        data-e="submit-button">
        <button (click)="cleanFilter.emit()">
            <span>Очистить</span>
        </button>
    </base-button>
</div>
