@import "all-config";

catalog-section-filter {
    display: flex;
    flex-direction: column;
    padding-top: 8px;

    & > [data-e="fieldset-label"] {
        margin: 14px 24px;
        @include MD3_TITLE_S_FONT_RULE_SET
    }

    & > switchers-status-monitor-with-selection-popup {
        margin-inline: 24px;
    }

    & > md-chip-set:has(>md-input-chip) {
        margin-inline: 32px;
        margin-bottom: 24px;
    }

    & > [data-e="range-field"] {
        display: flex;
        margin-inline: 20px;
    }

    & > [data-e="actions-line"] {
        position: sticky;
        bottom: 0;
        // margin-top: 16px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;
        margin-inline: 20px;
        padding-inline: 4px;
        // border-block: 1px solid var(--md-sys-color-surface-container);
        // background-color: var(--md-sys-color-surface-container-low);
        background-image: repeating-linear-gradient(to bottom, transparent, var(--md-sys-color-surface-container-low) 16px, var(--md-sys-color-surface-container-low));
        // backdrop-filter: blur(3px);
    }
}
