@import "all-config";

$side-column-width: 320px; // RELATED CONST in JS: #_sideColumnWidth
$breakpoint: 1000px; // RELATED CONST in JS: #_breakpoint

two-column-template {
    display: grid;
    grid-template-rows: auto;
    &.start-side {
        grid-template-columns: minmax(0, 1fr) $side-column-width minmax(0, $base-max-width - $side-column-width) minmax(0, 1fr);
    }
    &.end-side {
        grid-template-columns: minmax(0, 1fr) minmax(0, $base-max-width - $side-column-width) $side-column-width minmax(0, 1fr);
    }

    // OPEN BUTTON
    & > [data-e="open-button"] {
        z-index: $nav-bar-z-index - 1;
        grid-column: 2/4;
        grid-row: 1;
        margin-top: 8px;
        position: sticky;
        top: var(--open-button-top-indent, 70px);
        transition: top 400ms ease-in-out, visibility 300ms ease-in-out, opacity 300ms ease-in-out;
        &:has(+[data-e="side-column"][open]:not(.before-closing)) {
            opacity: 0;
            visibility: hidden;
        }
    }
    &.start-side > [data-e="open-button"] {
        justify-self: start;
        margin-inline-start: var(--inline-padding);
    }
    &.end-side > [data-e="open-button"] {
        justify-self: end;
        margin-inline-end: var(--inline-padding);
    }

    // SIDE COLUMN WINDOW
    & > [data-e="side-column"] {
        contain: layout size style;
        width: $side-column-width;
        border: 1px solid var(--md-sys-color-surface-container);
        background-color: var(--md-sys-color-surface-container-low);
        & > [data-e="close-button"] {
            position: absolute;
            inset-inline-end: 4px;
            top: 4px;
        }
    }
    &.start-side > [data-e="side-column"] {
        grid-column: 2;
        grid-row: 1;
        display: grid;
        grid-template-columns: auto 0;
        grid-template-rows: auto;
        position: relative;
        & > [data-e="hide-button"] {
            grid-column: 2;
            grid-row: 1;
            margin-top: 64px;
            margin-bottom: 64px;
            position: sticky;
            top: 70px;
            margin-inline-start: -24px;
            & > [data-e="hide-button-icon"] {
                transform: rotate(180deg);
            }
        }
        & > [data-e="limited-path"] {
            grid-column: 1;
            grid-row: 1;
            & > [data-e="floating-slot"] {

            }
        }
    }
    &.start-side > [data-e="side-column"]:not([open]) {
        @media (width >= $breakpoint) {
            display: none;
            & > [data-e="close-button"] {
                display: none;
            }
            & > [data-e="limited-path"] {
                & > [data-e="floating-slot"] {

                }
            }
        }
    }
    &.start-side > [data-e="side-column"][open]:not(:modal) {
        @media (width >= $breakpoint) {
            display: grid;
            & > [data-e="close-button"] {
                display: none;
            }
            & > [data-e="limited-path"] {
                & > [data-e="floating-slot"] {

                }
            }
        }
    }
    &.start-side > [data-e="side-column"]:not(:modal) {
        @media (width < $breakpoint) {
            overflow-x: hidden;
            display: none;
            & > [data-e="hide-button"] {
                display: none;
            }
            & > [data-e="limited-path"] {
                & > [data-e="floating-slot"] {

                }
            }
        }
    }
    &.start-side > [data-e="side-column"]:modal {
        overflow-x: hidden;
        display: grid;
        position: fixed;
        top: 0;
        inset-inline-start: 0;
        height: 100dvh;
        overflow-y: auto;
        overscroll-behavior: contain;
        border: none;
        & > [data-e="hide-button"] {
            display: none;
        }
        & > [data-e="limited-path"] {
            & > [data-e="floating-slot"] {

            }
        }
    }
    &.end-side > [data-e="side-column"] {
        grid-column: 3;
        grid-row: 1;
        display: grid;
        grid-template-columns: 0 auto;
        grid-template-rows: auto;
        & > [data-e="hide-button"] {
            grid-column: 1;
            grid-row: 1;
            margin-top: 64px;
            margin-bottom: 64px;
            position: sticky;
            top: 70px;
            margin-inline-start: -24px;
        }
        & > [data-e="limited-path"] {
            grid-column: 2;
            grid-row: 1;
        }
    }
    &.end-side > [data-e="side-column"]:not([open]) {
        @media (width >= $breakpoint) {
            display: none;
            & > [data-e="close-button"] {
                display: none;
            }
            & > [data-e="limited-path"] {
                & > [data-e="floating-slot"] {

                }
            }
        }
    }
    &.end-side > [data-e="side-column"][open]:not(:modal) {
        @media (width >= $breakpoint) {
            display: grid;
            & > [data-e="close-button"] {
                display: none;
            }
            & > [data-e="limited-path"] {
                & > [data-e="floating-slot"] {

                }
            }
        }
    }
    &.end-side > [data-e="side-column"]:not(:modal) {
        @media (width < $breakpoint) {
            overflow-x: hidden;
            display: none;
            margin-inline-end: var(--sw);
            & > [data-e="hide-button"] {
                display: none;
            }
            & > [data-e="limited-path"] {
                & > [data-e="floating-slot"] {

                }
            }
        }
    }
    &.end-side > [data-e="side-column"]:modal {
        overflow-x: hidden;
        display: grid;
        position: fixed;
        top: 0;
        inset-inline-end: 0;
        margin-inline-end: var(--sw);
        height: 100dvh;
        overflow-y: auto;
        overscroll-behavior: contain;
        border: none;
        & > [data-e="hide-button"] {
            display: none;
        }
        & > [data-e="limited-path"] {
            & > [data-e="floating-slot"] {

            }
        }
    }

    // SIDE COLUMN BACKDROP
    & > [data-e="side-column"]::backdrop {
        background-color: rgb(0 0 0 / 50%);
        transition: background-color 300ms ease-in-out;
    }
    & > [data-e="side-column"].before-opening::backdrop,
    & > [data-e="side-column"].before-closing::backdrop {
        background-color: rgb(0 0 0 / 0%);
    }

    // MAIN COLUMN
    & > [data-e="main-column"] {
        grid-column: 2/4;
        grid-row: 1;
        transition: padding 300ms ease-in-out;
        & > [data-e="space-for-side-column-open-button"] {
            display: flex;
            height: 56px;
        }
    }
    &.start-side > [data-e="main-column"] {
        padding-inline-start: $side-column-width;
        @media (width >= $breakpoint) {
            &.full-width {
                padding-inline-start: 0;
            }
        }
        @media (width < $breakpoint) {
            padding-inline-start: 0;
        }
    }
    &.end-side > [data-e="main-column"] {
        padding-inline-end: $side-column-width;
        @media (width >= $breakpoint) {
            &.full-width {
                padding-inline-end: 0;
            }
        }
        @media (width < $breakpoint) {
            padding-inline-end: 0;
        }
    }
}

//  open modal mobile tablet
//   0    0       0       1

//   1    0       0       1

//   0    0       1       0
//   1    0       1       0

//   1    1       1       0
//   1    1       0       1

// Всего 6 различных состояний, можно описать 4 правилами:

//     @media (width >= $breakpoint) { // Tablet
//          dialog:not([open]) {
//          }

//          dialog[open]:not(:modal) {
//          }
//     }

//     @media (width < $breakpoint) { // Mobile
//          dialog:not([open]),
//          dialog[open]:not(:modal) {
//          }
//     }

//     dialog:modal {
//     }
