@import "all-config";

store-assortment {

    & > [data-e="title"] {
        margin-bottom: 56px;
        padding-inline: var(--inline-padding);
        color: var(--md-sys-color-primary);
        @include MD3_HEADLINE_L_FONT_RULE_SET;
        text-transform: uppercase;
        text-align: center;
        text-wrap: balance;
    }
}
