@import "typography";

@mixin HTML_COMPONENTS_TUNING_RULE_TABLE {
    *,
    *::before,
    *::after {
        box-sizing: border-box; // inherit
        -webkit-font-smoothing: antialiased;
    }
    hr {
        min-height: 1px;
        height: 1px;
        padding: 0;
        border: none;
        background-color: var(--md-sys-color-outline-variant);
    }
    img {
        display: block; // Убирает отступ снизу картинки.
        max-width: 100%;
    }
    fieldset {
        min-width: 0;
        padding: 0;
        margin: 0;
        border: none;
    }
    dialog {
        all: unset;
        display: revert;
    }
    // p:not([class]) {
    //     //@include body-large;
    // }
    // p:not([class]) a {
    //     color: inherit;
    // }
}

@mixin MD3_COMPONENTS_TUNING_RULE_TABLE {
    html {
        --md-ref-typeface-brand: #{$md-ref-typeface-brand};
        --md-ref-typeface-plain: #{$md-ref-typeface-plain};
    }
}
