@import "all-config";

loading-error {
    max-width: $base-max-width;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
    padding-inline: var(--inline-padding);
    display: flex;
    flex-direction: column;
    align-items: center;

    & > [data-e="error-text"] {
        color: var(--md-sys-color-primary);
        @include MD3_HEADLINE_M_FONT_RULE_SET;
        text-transform: uppercase;
        text-align: center;
        text-wrap: balance;
    }
    & > [data-e="try-again-button"] {
        margin-top: 24px;
    }
}
