@if (navDrawerItem.navDrawerItemList) {
    <nav-drawer-directory>
        <details>
            <summary>
                @if (navDrawerItem.iconCode) {
                    <i translate="no" aria-hidden="true">{{ navDrawerItem.iconCode }}</i>
                }
                <span>{{ navDrawerItem.name }}</span>
            </summary>
            @for (navDrawerItem of navDrawerItem.navDrawerItemList; track navDrawerItem.name) {
                <nav-drawer-item
                     [navDrawerItem]="navDrawerItem"
                     (closeNavDrawer)="closeNavDrawer.emit()">
                </nav-drawer-item>
            }
        </details>
    </nav-drawer-directory>
} @else {
    <nav-drawer-link-button (closeNavDrawer)="closeNavDrawer.emit()">
        <a role="button"
             [routerLink]="navDrawerItem.route"
             routerLinkActive="link-to-current-route"
             [routerLinkActiveOptions]="{ exact: true }"
             ariaCurrentWhenActive="page">
            @if (navDrawerItem.iconCode) {
                <i translate="no" aria-hidden="true">{{ navDrawerItem.iconCode }}</i>
            }
            <span>{{ navDrawerItem.name }}</span>
        </a>
    </nav-drawer-link-button>
}
