@switch (viewModel.stableContentState()) {
    @case ("loading") {
        <loading-process-cover/>
    }
    @case ("error") {
        <loading-error-cover (tryAgain)="viewModel.doStartInitialization()"/>
    }
}

<nav-bar (openNavDrawer)="openNavDrawer()"/>
<head-bar/>

<router-outlet/>
<spacer-block/>

<content-info/>
<!-- <service-info -->
<!--      [windowInnerWidth]="documentSizeProvider.windowInnerWidth" -->
<!--      [windowInnerHeight]="documentSizeProvider.windowInnerHeight" -->
<!--      [documentOffsetWidth]="documentSizeProvider.documentOffsetWidth" -->
<!--      [documentClientHeight]="documentSizeProvider.documentClientHeight" -->
<!--      [documentScrollbarWidth]="documentSizeProvider.documentScrollbarWidth" -->
<!--      [isMobileInPortraitOnly]="documentSizeProvider.isMobileInPortraitOnly" -->
<!--      [isMobileInLandscapeOnly]="documentSizeProvider.isMobileInLandscapeOnly" -->
<!--      [isMobileInAllOrientations]="documentSizeProvider.isMobileInAllOrientations" -->
<!-- /> -->

<dialog
    data-e="nav-drawer"
    #navDrawerRef
    (click)="closeNavDrawerOnClickByBackdrop($event)">
    <icon-button
        appearance="simple"
        data-e="close-button">
        <button
            aria-label="Close naw drawer"
            (click)="closeNavDrawer()">
            <i translate="no" aria-hidden="true">close</i>
        </button>
    </icon-button>
    <nav-drawer-content
        [navGroupList]="viewModel.stableContent()?.navDrawerGroupList ?? []"
        [colorScheme]="colorScheme"
        (setColorScheme)="viewModel.setPreferredColorScheme($event)"
        (closeNavDrawer)="closeNavDrawer()"
    />
</dialog>
