@import "all-config";

$nav-drawer-content-width: 320px; // RELATED CONST in JS: #_navDrawerContentWidth

app-layout {
    contain: inline-size style;
    overflow-x: clip;
    min-width: $app-min-width;
    min-height: calc(100dvh + 56px + 260px);
    display: flex;
    flex-direction: column;
    background-color: var(--md-sys-color-surface);

    // NAV DRAWER WINDOW
    & > [data-e="nav-drawer"] {
        z-index: $nav-drawer-z-index;
        overflow-y: auto;
        overscroll-behavior: contain;
        position: fixed;
        top: 0;
        width: $nav-drawer-content-width;
        height: 100dvh;
        background-color: var(--md-sys-color-surface-container-low);
        & > [data-e="close-button"] {
            grid-column: 2;
            grid-row: 1;
            position: absolute;
            inset-inline-end: 8px;
            top: 8px;
        }
    }
    & > [data-e="nav-drawer"]:modal {
        display: block;
    }

    // NAV DRAWER BACKDROP
    & > [data-e="nav-drawer"]::backdrop {
        background-color: rgb(0 0 0 / 50%);
        transition: background-color 0.2s;
    }
    & > [data-e="nav-drawer"].is-starting::backdrop,
    & > [data-e="nav-drawer"].is-closing::backdrop {
        background-color: rgb(0 0 0 / 0%);
    }
}
