@import "all-config";

$nav-drawer-content-width: 320px;

app-layout {
    contain: inline-size style;
    overflow-x: clip;
    min-width: $app-min-width;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--md-sys-color-surface);

    & > [data-e="loading-cover"] {
        z-index: $loading-cover-z-index;
        contain: layout paint size style;
        position: fixed;
        inset: 0;
        display: flex;
        justify-content: center;
        padding-top: 20lvh;
        background-color: var(--md-sys-color-surface);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: opacity, visibility;
        transition-duration: 200ms;
    }

    & > [data-e="nav-drawer"] {
        z-index: $nav-drawer-z-index;
        overflow-y: auto;
        overscroll-behavior: contain;
        position: fixed;
        top: 0;
        width: $nav-drawer-content-width;
        height: 100dvh;
        background-color: var(--md-sys-color-surface-container-low);
        // animation: naw-drawer-fade-out 0.2s ease-in;

        &:modal {
            display: block;
            animation: naw-drawer-fade-in 0.2s ease-out;
        }
        &::backdrop {
            background-color: rgb(0 0 0 / 50%);
            animation: nav-drawer-backdrop-fade-in 0.2s ease-out forwards;
        }
        & > [data-e="close-button"] {
            grid-column: 2;
            grid-row: 1;
            position: absolute;
            inset-inline-end: 8px;
            top: 8px;
        }
    }
    @keyframes naw-drawer-fade-in {
        0% {
            opacity: 0;
            transform: translateX(-$nav-drawer-content-width);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes naw-drawer-fade-out {
        0% {
            display: block;
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            display: none;
            opacity: 0;
            transform: translateX(-$nav-drawer-content-width);
        }
    }
    @keyframes nav-drawer-backdrop-fade-in {
        0% {
            background-color: rgb(0 0 0 / 0%);
        }
        100% {
            background-color: rgb(0 0 0 / 50%);
        }
    }

    // & > [data-e="close-button"] {
    //     position: absolute;
    //     top: 120px;
    //     right: 10px;
    //
    //     & > [data-e="icon"] {
    //         transform: scaleX(-1);
    //     }
    // }
}

app-layout.loading {

    & > [data-e="loading-cover"] {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
}
