@import "all-config";

app-layout {
    contain: inline-size style;
    overflow-x: clip;
    min-width: $app-min-width;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--md-sys-color-surface);

    & [data-e="loading-cover"] {
        z-index: $loading-cover-z-index;
        contain: layout paint size style;
        position: fixed;
        inset: 0;
        display: flex;
        justify-content: center;
        padding-top: 20lvh;
        background-color: var(--md-sys-color-surface);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: opacity, visibility;
        transition-duration: 200ms;
    }
}
app-layout.loading {

    & [data-e="loading-cover"] {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
}
