@switch (viewModel.stableContentState()) {
    @case ("loading") {
        <loading-process-cover />
    }
    @case ("error") {
        <loading-error-cover (tryAgain)="viewModel.doStartInitialization()" />
    }
}

<nav-bar (openNavDrawer)="openNavDrawer()" />
<head-bar />

<router-outlet />
<spacer-block />

<content-info />
<!-- <service-info -->
<!--      [windowInnerWidth]="windowStateProvider.windowInnerWidth" -->
<!--      [windowInnerHeight]="windowStateProvider.windowInnerHeight" -->
<!--      [documentOffsetWidth]="windowStateProvider.documentOffsetWidth" -->
<!--      [documentClientHeight]="windowStateProvider.documentClientHeight" -->
<!--      [documentScrollbarWidth]="windowStateProvider.documentScrollbarWidth" -->
<!--      [isMobileInPortraitOnly]="windowStateProvider.isMobileInPortraitOnly" -->
<!--      [isMobileInLandscapeOnly]="windowStateProvider.isMobileInLandscapeOnly" -->
<!--      [isMobileInAllOrientations]="windowStateProvider.isMobileInAllOrientations" -->
<!-- /> -->

<dialog data-e="nav-drawer"
     #navDrawer
     (click)="closeNavDrawerOnClickByBackdrop($event)">
    <md-icon-button data-e="close-button"
         (click)="closeNavDrawer()">
        <md-icon data-e="close-button-icon">
            close
        </md-icon>
    </md-icon-button>
    <nav-drawer-content
         [navGroupList]="viewModel.stableContent()?.navDrawerGroupList ?? []"
         [colorScheme]="colorScheme"
         (setColorScheme)="viewModel.setPreferredColorScheme($event)"
         (closeNavDrawer)="closeNavDrawer()"
    />
</dialog>
