@import "all-config";

$nav-drawer-width: 300px;

nav-drawer {
    z-index: $nav-drawer-z-index - 1;
    contain: layout paint size style;
    position: fixed;
    inset: 0;
    display: grid;
    grid-template-columns: 0 $nav-drawer-width auto;
    pointer-events: none;

    & > [data-e="backdrop"] {
        z-index: $nav-drawer-z-index - 1;
        contain: layout paint size style;
        position: absolute;
        inset: 0;
        background-color: black;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: opacity, visibility;
        transition-duration: 200ms;
    }
    & > [data-e="slot"] {
        z-index: $nav-drawer-z-index;
        contain: size style;
        position: absolute;
        top: 0;
        width: $nav-drawer-width;
        height: 100dvh;
        margin-inline-start: -$nav-drawer-width;
        overflow-y: auto;
        overscroll-behavior: contain;
        background-color: var(--md-sys-color-surface-container-low);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: transform, opacity, visibility;
        transition-duration: 200ms;
    }
    & > [data-e="close-button"] {
        z-index: $nav-drawer-z-index + 1;
        position: absolute;
        top: 120px;
        margin-inline-start: -20px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition-property: transform, opacity, visibility;
        transition-duration: 200ms;

        & > [data-e="icon"] {
            transform: scaleX(-1);
        }
    }
}

nav-drawer.visible {

    & > [data-e="backdrop"] {
        opacity: 0.5;
        visibility: visible;
        pointer-events: auto;
    }
    & > [data-e="slot"] {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX($nav-drawer-width);
    }
    & > [data-e="close-button"] {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX($nav-drawer-width);
    }
}
