@use "sass:map";
@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;
@import "all-config";

//< angular-material-experimental >
@include mat.core();
$light-theme: matx.define-theme((
      color: (
            theme-type: light,
            primary: matx.$m3-azure-palette,
      )
));
$dark-theme: matx.define-theme((
      color: (
            theme-type: dark,
            primary: matx.$m3-azure-palette,
      )
));
html {
    @include mat.all-component-themes($light-theme);
}
//</ angular-material-experimental >

html {
    height: 100%;
    scrollbar-gutter: stable;
    // scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    @include MD3_ELEVATION_TOKEN_SET;
    @include MD3_LIGHT_SC_THEME_COLOR_TOKEN_SET;
    background-color: var(--md-sys-color-surface);
    @include MD3_TYPOGRAPHY_TOKEN_SET;
    @include LAYOUT_SIDE_PADDING_RULE_SET;
    transition-property: background-color;
    transition-duration: 200ms;
}
// html:has([data-e="dark-theme-switch-label"].selected) {
html[data-color-scheme="dark"],
html:has(app-layout.dark) {
    @include mat.all-component-colors($dark-theme);
    color-scheme: dark;
    @include MD3_DARK_SC_THEME_COLOR_TOKEN_SET;
}
html.disable-transitions * {
    transition: none !important;
}
html:has(app-layout.loading) {
    overflow-y: clip;
}
html:has(nav-drawer.visible),
// html:has(dialog[open]),
html:has([data-e="end-column"].visible-on-mobile) {
    overflow-y: clip;
    background-color: var(--html-shaded-color);
}
body {
    height: 100%;
    margin: 0;
    background-color: var(--md-sys-color-surface);
    accent-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-surface);
    @include MD3_BODY_L_FONT_RULE_SET;
}
::selection {
    background-color: var(--md-sys-color-on-surface-variant);
    color: var(--md-sys-color-surface-variant);
}
@include HTML_COMPONENTS_TUNING_RULE_TABLE;
@include MD3_COMPONENTS_TUNING_RULE_TABLE;
