@import "all-inserts";
@import "./typography";
@import "./html-component-tuning";
@import "./md3-component-tuning";

html {
    height: 100%;
    // Not supported by Safari, but Safari using overlay scrollbars (and the gutter will not be present).
    // При скрытии скролл-бара вместо него появляется фон body, если у body нет правила contain: layout.
    scrollbar-gutter: stable;
    //scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    @include MD3_ELEVATION_TOKEN_SET;
    background-color: var(--md-sys-color-surface);
    @include MD3_LIGHT_SC_THEME_COLOR_TOKEN_SET;
    @include MD3_TYPOGRAPHY_TOKEN_SET;
    transition-property: background-color;
    transition-duration: 200ms;
}
html:has([data-e="loading-cover"].visible) {
    overflow-y: clip;
}
html:has([data-e="nav-drawer-slot"].visible),
html:has([data-e="end-column"].visible-on-mobile) {
    overflow-y: clip;
    background-color: var(--html-shaded-color);
}

html[data-color-scheme="dark"] {
    // html:has([data-e="dark-theme-switch-label"].selected) {
    color-scheme: dark;
    @include MD3_DARK_SC_THEME_COLOR_TOKEN_SET;
}
html.disable-transitions * {
    transition: none !important;
}
body {
    height: 100%;
    //contain: layout paint; // При применении этого правила scrollbar не будет закрашивается.
    margin: 0;
    background-color: var(--md-sys-color-surface);
    accent-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-surface);
    @include MD3_BODY_L_FONT_RULE_SET;
}
::selection {
    background-color: var(--md-sys-color-on-surface-variant);
    color: var(--md-sys-color-surface-variant);
}
//@include TYPOGRAPHY_RULE_TABLE;
@include HTML_COMPONENTS_TUNING_RULE_TABLE;
@include MD3_COMPONENTS_TUNING_RULE_TABLE;
