<icon-button
    appearance="simple">
    <button
        aria-label="Menu"
        (click)="openNavDrawer.emit()">
        <i translate="no" aria-hidden="true">menu</i>
    </button>
</icon-button>

<spacer-block/>

<icon-button
    appearance="simple">
    <button
        aria-label="Search">
        <i translate="no" aria-hidden="true">search</i>
    </button>
</icon-button>

<icon-button
    appearance="simple">
    <a
        role="button"
        aria-label="Bookmarks"
        routerLink="/bookmarks"
        routerLinkActive="link-to-current-route"
        ariaCurrentWhenActive="page">
        <i translate="no" aria-hidden="true">bookmarks</i>
    </a>
</icon-button>

<icon-button
    appearance="simple">
    <a
        role="button"
        aria-label="Shopping cart"
        routerLink="/cart"
        routerLinkActive="link-to-current-route"
        ariaCurrentWhenActive="page">
        <i translate="no" aria-hidden="true">shopping_cart</i>
    </a>
</icon-button>

<icon-button
    appearance="simple">
    <a
        role="button"
        aria-label="Person"
        routerLink="/account"
        routerLinkActive="link-to-current-route"
        ariaCurrentWhenActive="page">
        <i translate="no" aria-hidden="true">person</i>
    </a>
</icon-button>

<icon-button
    appearance="simple">
    <button
        aria-label="Test UI"
        routerLink="/test-ui"
        routerLinkActive="link-to-current-route"
        ariaCurrentWhenActive="page">
        <i translate="no" aria-hidden="true">change_history</i>
    </button>
</icon-button>
