@import "all-config";

nav-bar {
    z-index: $nav-bar-z-index;
    contain: inline-size layout paint style;
    padding-inline: $full-inline-padding;
    position: sticky;
    top: 0;
    height: 56px;
    display: flex;
    align-items: center;
    // box-shadow: $md-sys-elevation-level1;
    border-block: 1px solid var(--md-sys-color-surface-container-high);
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);

    & > :first-child {
        margin-inline-start: -14px;
    }
    & > :last-child {
        margin-inline-end: -14px;
    }
}
